//Background color
$bg-color-1: #ffffff;
$bg-color-2: #e6e9ed;
$bg-color-3: #f0f2f5;
$bg-color-4: #fff0f2;

//Color
$color-1: #6b6d70;
$color-2: #d9325a;
$color-3: #ba1642;

//border color
$border-color-1: #dce0e5;
